*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.remove-btn{
    background-color: transparent;
    border: none;
}
.user-alert{
    position: absolute;
    top: 20px;
    right: 10px;
}

.alert-icon{
   font-size: 23px;
   margin-right: 10px;
}
